<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/expenses/graph"></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir gasto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="create-form ion-padding">
    <form [formGroup]="this.form">
      <div class="form">
        <ion-item>
          <ion-label>Monto:</ion-label>
          <div class="amount-input">
            <ion-text>$</ion-text>
            <ion-input
              [autofocus]="true"
              type="number"
              formControlName="amount"
            ></ion-input>
          </div>
          <ion-text class="ion-margin-start">ARS</ion-text>
          <ion-note slot="error">Debe ingresar un monto.</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Fecha del gasto:</ion-label>
          <ion-datetime-button datetime="date"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                #datepicker
                id="date"
                presentation="date"
                formControlName="date"
                (click)="this.selectDate(datepicker)"
              >
                <ion-buttons slot="buttons">
                  <ion-button
                    color="primary"
                    (click)="this.pickDate('yesterday')"
                    >Ayer</ion-button
                  >
                  <ion-button color="primary" (click)="this.pickDate('today')"
                    >Hoy</ion-button
                  >
                </ion-buttons>
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Comentario (opcional):</ion-label>
          <ion-input
            placeholder="Nuevo gasto"
            formControlName="comment"
          ></ion-input>
        </ion-item>
      </div>
      <ion-button class="ion-margin-top" type="submit" expand="block"
        >Crear gasto</ion-button
      >
    </form>
  </div>
</ion-content>
